#ABOUT DATABASE
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password_of_postgres
POSTGRES_DB=database_name
DATABASE_URL=postgresql+psycopg2://postgres:password@db:5432/db_name

#ABOUT API VERSION
APP_VERSION=1.0.0